@font-face {
  font-family: "BebasNeue-Light";
  src: url("../font/BebasNeue-Light.otf") format('opentype');
  ;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/BebasNeue-Regular.otf") format('opentype');
  ;
}

@font-face {
  font-family: "DK-Knucklebones";
  src: url("../font/DK-Knucklebones.otf") format('opentype');
  ;
}


@font-face {
  font-family: "Lato-Light";
  src: url("../font/Lato-Light.ttf") format('truetype');
  ;
}

@font-face {
  font-family: "BebasNeue-Bold";
  src: url("../font/BebasNeue-Bold.otf") format('opentype');
  ;
}

@font-face {
  font-family: "Hind-Light";
  src: url("../font/Hind-Light.ttf") format('truetype');
  ;

}

@font-face {
  font-family: "Hind-Regular";
  src: url("../font/Hind-Regular.ttf") format('truetype');
  ;
}

@font-face {
  font-family: "Hind-Medium";
  src: url("../font/Hind-Medium.ttf") format('truetype');
  ;
}

@font-face {
  font-family: "Hind-Semibold";
  src: url("../font/Hind-SemiBold.ttf") format('truetype');
  ;
}

@font-face {
  font-family: "Hind-Bold";
  src: url("../font/Hind-Bold.ttf") format('truetype');
  ;
}

body{
  margin: 0px;
}

.hero{
  margin: 0px;
  height: 100vh;
  background-image: url(../image/falz_experience.png), radial-gradient(51% 135%, #62D4D4 50%, #2E888E 97%, #2D868C 100%);
  background-position: center bottom,left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_menu{
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
}

.logo_bahdguy{
  width: 56px;
  margin-right: 32px;
}

.logo_tfe{
  width: 100px
}

.hero_mid{
  padding: 0px 64px;
  display: flex;
  justify-content: space-between;
}

.hero_bottom{
  padding: 0px 64px;
}


.hero_timing{
  font-family: BebasNeue-Light;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 48px;
  text-shadow: -2px 1px 0 rgba(30,114,118,0.87);
  margin-bottom: 24px;
  display: flex;
  align-content: center;
  align-items: end;
  font-weight: bold;
}

.hero_time{
  font-size: 48px;
  margin-left: 16px;
}

.hero_icon{
  width: 32px;
  margin-right: 16px;
}

.hero_date{
  color: white;
  font-family: BebasNeue-Regular;
  font-size: 24px;
  letter-spacing: 1px;
  display: flex;
}

.font_bold{
  font-family: BebasNeue-Bold;
}

.hero_sponsor{
  width: 200px;
}


.hero_bottom{
  justify-content: center;
  display: flex;
  margin: 32px;
}

.section_2{
  background-image: url(../image/bg_2.png);
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 64px;
}

.section_2_caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.falz_font p{
  font-family: DK-Knucklebones;
  font-size: 96px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #064047;
  text-align: center;
}

button{
  /*height: 50px;
  width: 150px;*/
  color: #064047;
  font-size: 20px;
  font-family: BebasNeue-Bold;
  letter-spacing: 1px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border: none;
  box-shadow: -7px 7px 0px 0px rgba(6,64,71,1);
  cursor: pointer;
}

.button_icon{
  width: 24px;
  height: 24px;
}

.btn_ticket{
  width: 180px;
  height: 60px;
  font-size: 24px;
}

.btn_ticket:hover{
  background-color: #61D2D2;
}

.ticket_class:hover{
  background-color: #61D2D2;
}

.section_2_date{
  font-family: BebasNeue-Regular;
  color: #064047;
  font-size: 48px;
}

.section_2_text{
  color: #064047;
  font-size: 24px;
  font-family: BebasNeue-Regular;
}

.ticket_price{
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: BebasNeue-Regular;
}

.ticket_class{
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  margin-right: 32px;
  font-size: 32px;
  min-height: 80px;
}

.container_ticket_class{
  display: flex;
}

.section_text{
  font-size: 24px;
  color: #064047;
  font-family: BebasNeue-Regular;
  letter-spacing: 1px;
}

.section_2_vid{
  color: white;
  background-image: url(../image/video_cover.png);
  height: 70vh;
  width: 100%;
  background-size: cover;
  margin: 88px 0px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

body{
  background-color: black;
}

.play{
  width: 100px;
  cursor: pointer;
}

.play:hover{
  opacity: .6;
}

.section_gallery{
  color: white;
  padding: 32px;
  margin-bottom: 64px;
}

.container_thumbnail{
  display: flex;
  justify-content: space-between;
}

.thumbnail{
  /*background-color: red;*/
  width: 25%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /*width: 50%;*/
  cursor: pointer;
}

.thumbnail_large{
  width: 75%
}

.thumbnail_1{
  background-image: url(../image/image_1.png);
}

.thumbnail_2{
  background-image: url(../image/image_2.png);
}

.thumbnail_3{
  background-image: url(../image/image_3.png);
}

.thumbnail_4{
  background-image: url(../image/image_4.png);
}

.thumbnail_5{
  background-image: url(../image/image_5.png);
}

.thumbnail_6{
  background-image: url(../image/image_6.png);
}

.section_4{
  background-color: #2E888D;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  padding: 32px;
}

.section_4_1{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container_section_4_logo{
  display: flex;
  justify-content: space-around;
}

.section_4_caption{
  font-family: BebasNeue-Regular;
  color: white;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.odd_font{
  font-family: Lato-Light;
  font-size: 20px;
  letter-spacing: 1px;
}

.section_4_caption p{
  margin: 8px;
}

footer{
  height: 50vh;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.container_footer_logo{
  display: flex;
  flex-direction: column;
}
footer img{
  width: 300px;
  margin: 32px;
}

.logo_footer_nbox{
  width: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity: 0.5;
  background: #000000;
}

.thumbnail:hover .overlay {
  opacity: 0;
}

.image {
  display: block;
  width: 370px;
  height: auto;
  margin: 16px;
}

.thumbnail_container:hover .overlay {
  opacity: 0;
}

.thumbnail_container {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.container_popup{
  background-color: transparent;
}

.popup_form{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.card_header{
  width: 100%;
  height: auto;
  background-image: url(../image/bg_payment.png);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  padding-bottom:32px;
}

.logo{
  width: 32px;
  margin: 32px 0px 8px 0px;
}

.page_title{
  font-family: Hind-Light;
  font-size: 14px;
}

.ticket_title{
  font-size: 24px;
  font-family: Hind-Light;
  margin: 32px;
}

.ticket_price_container{
  padding: 0px 32px;
  background-image: url(../image/bg_price.png);
  background-position: center;
  border-radius: 10px;
}

.ticket_price_title{
  font-size: 16px;
  font-family: Hind-Light;
  margin-bottom: 0px;
}

.ticket_price_amount{
  font-family: Hind-Bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.currency{
  font-family: Hind-Bold;
  font-size: 20px;
}

.card_body{
  font-family: Hind-Light;
  color: #4A4A4A;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_form{
  width: 64%;
}


.form_row_1{
  display: flex;
}

.select-style {
  padding: 0;
  margin: 8px;
  width: 300px;
  border-radius: 50px;
  overflow: hidden;
  background: #ededed url("../image/arrow.svg") no-repeat 90% 50%;
}

.select-style select {
  padding: 16px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
}

.container_selector_ticket{
  flex-basis: 60%;
}

.container_selector_quantity{
  flex-basis: 40%
}

.error_message p{
  color: red;
  font-size: 16px;
}

input{
  font-size: 16px;
  color: #565656;
  border-radius: 50px;
  padding: 16px;
  border: none;
  margin: 8px;
  background-color: #a7a7a733;
  width: 195px;
}

.btn_pay{
  background-color: #07B970;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  padding: 14px;
  border: none;
  margin: 8px;
  width: 230px;
  font-family: Hind-Semibold;
  display: flex;
  justify-content: space-evenly;
  box-shadow: none !important
}

.btn_pay:disabled{
  background-color: #9B9B9B;
}

.btn_icon{
  width: 18px;
}

.form_row_4{
  display: flex;
  align-items: center;
}

#modal {
  margin: 0 auto;
  padding: 32px;
  width: 50%;
  height: 50%;
  /*background: #eee;*/
  font-size: 80%;
}

.input_fullwidth {
  width: 435px;
}


.form_row_3 {
  display: flex;
}

.hero_timer{
  display: flex;
  font-family: BebasNeue-Regular;
  color: white;

}

.container_time{
  font-size: 48px;
  margin: 16px;
}

.timer_text{
  font-size: 20px;
  color: black;
  text-align: center;
  letter-spacing: .5px;

  /*font-family: Beba-Roman;*/
}

.separator_time{
  font-size: 48px;
  margin-top: 12px;
}

.container_time{
  margin: 16px;
  font-size: 64px;
}

.timer_count{
  padding: 10px 8px 0px 8px;
  margin-bottom: 8px;
  background-color: #4BB2B5;
}

.container_footer_logo{
  align-items: center;
}

/*MEDIA QUERY FOR RESPONSIVE CSS*/
/**/
/**/
/**/

@media  only screen and (max-width: 1600px) {
  .hero_date{
    color: blue;
  }
}
@media only screen and (max-width : 1200px){
  .hero_date{
    color: purple;
  }
  .ticket_class{
    padding: 16px 24px;
    font-size: 24px;
  }

  .falz_font p{
    font-size: 72px;
  }

  .section_2_date{
    font-size: 32px;
  }

  .section_2_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width : 992px){
  .hero_date{
    color: green;
  }

  .hero_mid{
    padding-top: 124px;
  }


  .hero_timing{
    font-size: 24px;
    line-height: normal;
  }
  .hero_time{
    font-size: 32px;
  }

  .logo_bahdguy{
    width: 48px;
  }

  .logo_tfe{
    width: 80px;
  }

  .falz_font p{
    font-size: 48px;
  }

  .section_2_date{
    font-size: 32px;
  }

  .ticket_class{
    font-size: 20px;
  }

}
@media only screen and (max-width : 768px){
  .hero_date{
    color: yellow;
  }
}
@media only screen and (max-width : 480px){
  .hero_date{
    color: pink;
  }

  .section_2_1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_mid{
    flex-direction: column;
    padding: 0px 24px;
  }

  .timer_text{
    font-size: 16px;
  }

  .container_time{
    font-size: 32px;
  }

  .hero_timing{
    visibility: hidden;
  }
  .container_hero_date{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_sponsor{
    width: 150px;
  }

  .hero_date{
    font-size: 20px;
  }

  .section_2{
    padding: 32px;
    flex-direction: column;
    height: auto;
  }

  .falz_font p{
    font-size: 56px;
  }

  .container_section_2_date{
    display: flex;
    justify-content: center;
  }

  .section_2_date{
    font-size: 32px;
    margin-top: 30px;
  }

  .container_ticket_class{
    flex-wrap: wrap;
  }

  .section_text{
    display: flex;
    justify-content: center;
  }

  .ticket_class{
    padding: 16px 32px;
    margin: 12px;
    font-size: 24px;
  }

  .ticket_price{
    font-size: 18px;
  }

  .section_gallery{
    padding: 0px;
  }

  .container_thumbnail{
    flex-wrap: wrap;
  }

  .thumbnail{
    width: 50%;
    height: 25vh;
  }

  .section_4_caption{
    order: 1;
    align-items: center;
    margin: 40px 0px;
  }

  .section_4{
    flex-direction: column;
    height: auto;
  }

  .logo_tfe{
    width: 80px;
  }

  .logo_bahdguy{
    width: 40px;
  }


  .container_section_4_logo{
    order: 2;
  }

  footer img{
    width: 170px;
  }

  .logo_footer_nbox{
    width: 150px
  }

  .container_ticket_class{
    justify-content: space-between;
  }

  /*.hero_timing{
  margin-bottom: 0px;
  }*/
  .ticket_class{
    padding: 16px;
    margin: 25px 10px;
    min-width: 120px;
  }
}
@media only screen and (max-width : 320px){
  .hero_date{
    color: red;
  }

  .logo_bahdguy {
    width: 30px;
  }

  .logo_tfe {
    width: 60px;
  }

  .hero_timing{
    margin-bottom: 0px;
  }

  .section_2{
    padding: 16px;
  }

  .ticket_class{
    margin: 16px 10px;
  }

  .section_4_caption{
    font-size: 24px;
  }

  .odd_font{
    font-size: 16px;
  }
}
